Repository microsoft/terraform-provider-power-platform, pull requests merged in 2024-07, with the labels that each got.

#349 Solution unmarshall error when importing solution with missing dependencies
  .devcontainer/features/acceptance_test_dependencies/main.tf
  .devcontainer/features/local_provider_dev/terraform.rc
  internal/powerplatform/services/solution/api_solution.go
  internal/powerplatform/services/solution/model_solution.go
  internal/powerplatform/services/solution/resource_solution.go
Labels: bug, enhancement

#352 Add certificate based authentication for the provider
  docs/index.md
  examples/data-sources/powerplatform_environments/cert.pkcs12
  go.mod
  go.sum
  internal/powerplatform/api/auth.go
  internal/powerplatform/config/config.go
  internal/powerplatform/helpers/cert.go
  internal/powerplatform/provider.go
  templates/index.md.tmpl
Labels: enhancement

#364 fix solution update issues
  internal/powerplatform/modifiers/set_bool_value_unknown_if_checksum_change_modifier.go
  internal/powerplatform/modifiers/set_string_value_unknown_if_checksum_change_modifier.go
  internal/powerplatform/services/solution/resource_solution.go
Labels: bug, resource

#366 Implement golangci linter to improve static analysis of provider code
  .github/workflows/golangci-lint.yml
  .vscode/settings.json
  internal/powerplatform/api/api_client.go
  internal/powerplatform/api/auth.go
  internal/powerplatform/mocks/known_state_value.go
  internal/powerplatform/resource_data_record_test.go
  internal/powerplatform/services/application/api_application.go
  internal/powerplatform/services/authorization/api_user.go
  internal/powerplatform/services/data_record/api_data_record.go
  internal/powerplatform/services/data_record/resource_data_record.go
  internal/powerplatform/services/dlp_policy/models_dlp_policy.go
  internal/powerplatform/services/environment/api_environment.go
  internal/powerplatform/services/rest/api_rest.go
  makefile
Labels: github_actions, tool

#368 Fix some issues in github actions workflows
  .github/workflows/terraform_provider.yml
  docs/resources/rest.md
  internal/powerplatform/services/rest/resource_rest.go
Labels: bug, github_actions
