Repository microsoft/terraform-provider-power-platform, pull requests merged in 2024-10, with the labels that each got.

#480 Added disable_on_destroy on powerplatform_data_record
  .changes/unreleased/added-20241002-142330.yaml
  docs/resources/data_record.md
  examples/resources/powerplatform_data_record/res_business_unit/main.tf
  examples/resources/powerplatform_data_record/resource.tf
  internal/constants/constants.go
  internal/services/authorization/resource_user_test.go
  internal/services/data_record/api_data_record.go
  internal/services/data_record/datasource_data_record.go
  internal/services/data_record/dto.go
  internal/services/data_record/models.go
  internal/services/data_record/resource_data_record.go
  internal/services/data_record/resource_data_record_test.go
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_businessunit_00000000-0000-0000-0000-000000000001.json
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_entitydefinition_businessunit.json
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_entitydefinition_businessunit_attributes.json
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_entitydefinition_mailbox.json
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_entitydefinition_mailbox_attributes.json
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_environment_00000000-0000-0000-0000-000000000001.json
  internal/services/data_record/tests/resource/Validate_Disable_On_Delete/get_mailbox_00000000-0000-0000-0000-000000000010.json
Labels: run-acceptance-tests

#485 Update changelog for 3.1
  .changes/3.1.0.md
  .changes/unreleased/fixed-20241003-125837.yaml
  CHANGELOG.md
Labels: documentation

#501 Adding powerplatform_environment_group_rule_set
  .changes/unreleased/added-20241022-103532.yaml
  examples/resources/powerplatform_environment_group_rule_set/resource.tf
  internal/api/client.go
  internal/api/request.go
  internal/helpers/uri.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/services/connection/api_connection.go
  internal/services/environment_group_rule_set/api_environment_group_rule_set.go
  internal/services/environment_group_rule_set/constants.go
  internal/services/environment_group_rule_set/dto.go
  internal/services/environment_group_rule_set/models.go
  internal/services/environment_group_rule_set/resource_environment_group_rule_set.go
  internal/services/environment_group_rule_set/resource_environment_group_rule_set_test.go
  internal/services/environment_group_rule_set/tests/Validate_Create/get_rule_set.json
  internal/services/environment_group_rule_set/tests/Validate_Create/get_tenant.json
  internal/services/environment_group_rule_set/tests/Validate_Create/post_rule_set.json
  internal/services/environment_group_rule_set/tests/Validate_Update/get_rule_set_0.json
  internal/services/environment_group_rule_set/tests/Validate_Update/get_rule_set_1.json
  internal/services/environment_group_rule_set/tests/Validate_Update/get_rule_set_2.json
  internal/services/environment_group_rule_set/tests/Validate_Update/get_rule_set_3.json
  internal/services/environment_group_rule_set/tests/Validate_Update/get_rule_set_4.json
  internal/services/environment_group_rule_set/tests/Validate_Update/get_tenant.json
  internal/services/environment_group_rule_set/tests/Validate_Update/post_rule_set_0.json
  internal/services/environment_group_rule_set/tests/Validate_Update/put_rule_set_0.json
  internal/services/licensing/datasource_billing_policies_environments_test.go
  internal/services/licensing/datasource_billing_policies_test.go
  internal/services/licensing/resource_billing_policy_environment_test.go
  internal/services/licensing/resource_billing_policy_test.go
  internal/services/tenant/api_tenant.go
  internal/services/tenant/datasource_tenant.go
  internal/services/tenant/dto.go
  internal/services/tenant/models.go
Labels: go, resource

#503 Refactor environment API methods for create and update
  .changes/unreleased/fixed-20241024-142026.yaml
  internal/services/environment/api_environment.go
  internal/services/environment/dto.go
  internal/services/environment/resource_environment_test.go
Labels: bug

#511 Updates to documentation
  .changes/3.2.0.md
  .changes/unreleased/added-20241022-103532.yaml
  .changes/unreleased/documentation-20241010-194509.yaml
  .changes/unreleased/fixed-20241023-150045.yaml
  .changes/unreleased/fixed-20241024-142026.yaml
  CHANGELOG.md
  docs/guides/app_registration.md
  docs/guides/release_notes.md
  docs/index.md
  docs/resources/environment_group_rule_set.md
  examples/provider/provider.tf
  internal/services/environment_group_rule_set/resource_environment_group_rule_set.go
  templates/guides/app_registration.md.tmpl
  templates/guides/release_notes.md.tmpl
  templates/index.md.tmpl
Labels: documentation
